---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIco from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portafolio de Yosleydy - Desarrollador y Programador Web" description="Contrata a Yosleydy para crear tu aplicación web. Desarrollo web. Especializado en crear aplicaciones únicas.">
	<main class="px-4">
		<SectionContainer class='py-24 pb-32'>
			<img 
			class="rounded-full size-12 mb-4" 
			src="../../public/yosleydy.png" 
			alt="photo"/>
		<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey soy Yosleydy 
			<a href='https://www.linkedin.com/in/yosleydy-pe%C3%B1a-9404a4a1/' 
			target="_blank" 
			rel="noopener"
			class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-xl lg:text-2xl opacity-80  text-warp max-w-[700px]">
			<span>+10 años de experiencias.</span>
			<span class="text-yellow-200/90"> Desarrollador Web.</span>
			<span class="text-red-200/90"> De Miranda, Venezuela</span>.
			<span class="opacity-75">Especializado en crear aplicaciones únicas.</span></h2>
			<nav class="flex gap-4 mt-8 flex-warp">
				<SocialPill href="https://www.linkedin.com/in/yosleydy-pe%C3%B1a-9404a4a1/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/yosleydy">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:yoslexio@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					yoslexio@gmail.com
				</SocialPill>
			</nav>
	    </SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia laboral</h2>
				<Experience/>
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIco class="size-7" />
				Proyectos</h2>
				<Projects/>
		</SectionContainer>
	</main>
</Layout>