---
 const personalImageAlt = "Yosleydy Peña"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-500 dark:[&>p>strong]:text-purple-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Yosleydy Peña pero mis amigos me llaman Yosle. Empecé en el
      mundo de la programación en el 2008. Actualmente estoy <strong
        >desarrollando aplicaciones a nivel de Frontend</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con el equipo para el desarrollo de las webs desde cero con sus propio sistema de administración en Venevisión (Organización Cisnero)</strong
      >. Aunque hoy ya no estoy con ellos fue un gran avance para su contenido en el desarrollo web.
    </p>

    <p>
     Mi objetivo es mejorar y estar en la tendencia de las tecnologías para brindar el mejor desarrollo y contenido de calidad.
    </p>
  </div>

  <img width="250" height="250" src="/yo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-purple-400/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 0% 10%">

</article>